@use '../../styles/variables' as *;

.form {
    flex: 1;
    padding: $padding-section;

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_inputList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 23px;
        margin-top: 42px;
        margin-bottom: 40px;

        &_bigInput {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &_buttonReset:hover &_buttonReset_text, 
    &_buttonReset:focus-visible &_buttonReset_text {
        color: $default-color;
    }

    &_buttonSubmit {
        display: flex;
        align-items: center;
        position: relative;
        font-family: inherit;
        padding: 17px 37px;
        background-color: $accent-color;
        border: 1px solid #c6cd26;
        border-radius: 9999px;
        transition: border-color 0.3s ease, background-color 0.3s ease;

        &_text {
            margin-left: 38px;
        }

        &:focus-visible {
            border-color: $default-color;
        }

        &:hover {
            border-color: $accent-color;
            background-color: rgba($accent-color, 0.7);
        }

        &::before {
            content: '';
            position: absolute;
            left: 40px;
            background-image: url('src/assets/images/icon-calculator.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
    }
}