.button {
    padding: 12px 24px;
    background-color: #D7DA2F;
    border: 1px solid #c6cd26;
    border-radius: 9999px;
    transition: border-color 0.3s ease, background-color 0.3s ease;

    &:hover {
        border-color: #D7DA2F;
        background-color: rgba(215, 218, 47, 0.25);
    }
}