.inputWrapper {
    position: relative;
    font-weight: 700;
}

.input {
    padding: 10px 14px;
    width: 100%;
    border: 1px solid #6B94A8;
    border-radius: 6px;
    background-color: transparent;
    color: #122F3F;
    transition: border-color 0.3s ease;

    &:hover {
        border-color: #9ABED5;
    }

    &:focus {
        border-color: #D7DA2F;
    }
}

.prefix, .suffix {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    color: #6B94A8;
    background-color: #E3F3FD;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

.prefix {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.suffix {
    right: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}