.results {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 43px 40px;
    background-color: #122F3F;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;

    &_preview {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &_content {    
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 32px;
        margin-top: 18px;
        border-top: 4px solid #D7DA2F;
        border-radius: 9px;
        background-color: #0e2431;

        &_separator {
            margin-top: 30px;
            margin-bottom: 23px;
            width: 100%;
            height: 0.5px;
            border: none;
            background-color: rgba(154, 190, 213, 0.2);
        }
    }
}