$padding-section: 43px 40px;

$weight-bold: 700;

$default-color: #122F3F;
$white-color: #ffffff;
$background-color: #E3F3FD;
$subtle-color: #9ABED5;
$muted-color: #6B94A8;
$accent-color: #D7DA2F;
$error-color: #D73328;