@use './fonts';
@use './reset';

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: #E3F3FD;
}

#root {
  position: relative;
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}
