@use './_fonts';
@use './_reset';
@use './variables' as *;
@use './mixins';

body {
  @include mixins.flex-basic(null, null, center, null);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: $background-color;
  @include mixins.font(16px);
}

#root {
  position: relative;
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}
