@use '../../../styles/variables' as *;
@use '../../../styles/mixins';

.heading {
    @include mixins.font(24px, $weight-bold);
}

.text-sm {
    @include mixins.font(16px, null, 1.5);
}

.link-sm {
    text-decoration: underline;
    text-underline-offset: 1.5px;

    &_:hover {
        color: $default-color;
    }
}

.button-text {
    @include mixins.font(18px, $weight-bold);
}

.highlight-primary {
    @include mixins.font(56px, $weight-bold);
}

.highlight-secondary {
    @include mixins.font(24.5px);
}

.text-error {
    @include mixins.font(12px);
}

.default {
    color: $default-color;
}

.white {
    color: $white-color;
}

.subtle {
    color: $subtle-color;
}

.muted {
    color: $muted-color;
} 

.accent {
    color: $accent-color;
}

.error {
    color: $error-color;
}