.heading {
    font-weight: 700;
    font-size: 24px;
}

.text-sm {
    font-size: 16px;
    line-height: 1.5;
}

.link-sm {
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 1.5px;
    cursor: pointer;

    &_:hover {
        color: #122F3F;
    }
}

.label-sm {
    font-size: 16px;
}

.button-text {
    font-size: 18px;
    font-weight: 700;
}

.highlight-primary {
    font-size: 56px;
    font-weight: 700;
}

.highlight-secondary {
    font-size: 24.5px;
}

.text-error {
    font-size: 12px;
}

.default {
    color: #122F3F;
}

.white {
    color: #ffffff;
}

.subtle {
    color: #9ABED5;
}

.muted {
    color: #6B94A8;
} 

.accent {
    color: #D7DA2F;
}

.error {
    color: #D73328;
}