.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 11px;
    position: relative;
}

.radioButton {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 18px;
    cursor: pointer;
    border: 1px solid #6B94A8;
    border-radius: 6px;
    background-color: transparent;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

    &:has(input[type='radio']:focus-visible) {
        box-shadow: 0 0 3px #D7DA2F, inset 0 0 3px #D7DA2F;
    }

    &:hover {
        box-shadow: 0 0 3px #D7DA2F, inset 0 0 3px #D7DA2F;
    }

    &.selected:hover, &.selected:has(input[type='radio']:focus-visible) {
        box-shadow: none
    }
}

.selected {
    border-color: #D7DA2F;
    background-color: rgba(215, 218, 47, 0.25);
}